<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
  <title>{{pageTitle}}</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="description" content="Answers the question: Is my browser up to date?">
  <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/browsercheck/style.css" type="text/css">
</head>

<body class="{{isUpToDate}}">
  {{{ads}}}
  <h1>{{pageTitle}}</h1>
  {{#isSupported}}
    <div id="content">
      {{isUpToDate}}
    </div>
    <div id="debug">Detected browser: {{browserName}} v{{browserVersion}} (should be v{{version}} or above)
    </div>
  {{/isSupported}}
  {{^isSupported}}
  <div id="content">?</div>
  <div id="support">Sorry, your browser ({{browserName}}) is not supported, try another: {{browsersList}}.</div>
  {{/isSupported}}
  <div id="update">
    {{#versionCheck}}
      Your browser is up-to-date.
    {{/versionCheck}}
    {{^versionCheck}}
    <span id="{{browserId}}"><a href="{{browserUrl}}">Update {{browserName}} Now</a></span>
    {{/versionCheck}}
  </div>
  {{{ads}}}
  <div id="footer">
    <p>&copy; {{dateYear}} <a href="{{baseUrl}}"><strong>dead</strong>useful</a>.</p>
  </div>
  <script>
    var _gaq = [
      ['_setAccount', '{{uaAccount}}'],
      ['_trackPageview']
    ];
    (function(d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s)
    }(document, 'script'));
  </script>
</body>

</html>
